@model IEnumerable<Ecommerce.Web.Model.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

@*<link rel="stylesheet" href="~/css/styleproduct.css" />*@



<h2>Products</h2>
@if (Model != null)
{
    @*<table class="table table-striped">
        <thead>
    <tr>

    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Photo)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>*@
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="card" style="background-color:lightblue;border-radius:20px;">
                <h1 class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </h1>
                <hr />
                <div class="row shadow-lg" style=";display:flex;justify-content:start">
                    <div class="col-md-4">
                        <img src="~/ProductImages/@item.Photo" width="250" height="250" style="border-radius:20px;margin:5px 5px 5px 5px;" />
                    </div>
                    <div class="col-md-4 card-body">
                        @*<div>
                @Html.DisplayFor(modelItem => item.Name)
                </div>*@
                        <div>
                            <h1>Price : @Html.DisplayFor(modelItem => item.Price)</h1>
                        </div>
                        <div>
                            <h3>@Html.ActionLink("View", "ProductDetail", new { productId = item.Id })</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*</tbody>
    </table>*@
}
else
{

    <h4>No Product found</h4>
}
